<div id="container">
    <%- partial("_partial/index/hotarea") %>
    <%- partial("_partial/index/features") %>
    <%- partial("_partial/index/infolist") %>
    <!--<%- partial("_partial/index/sponsor") %>-->
    <!--<%- partial("_partial/index/teamwork") %>-->
    <%- partial("_partial/index/partner") %>
    <!--<%- partial("_partial/index/links") %>-->
</div>