<%
let tobeRendered = [];
enums.map(function (item)
{
    if (item.containerId == containerId) {
        tobeRendered.push(item);
    }
});
let cls = "";
if (tobeRendered.length != 0 ) {
    cls = "uk-margin-medium-top section-info-item-container enum-section-info-item-container";
} else {
    cls = "uk-hidden";
}
%>
<div class="<%- cls %>">
    <div class="section-title uk-margin-medium-bottom">
        <h3><%= __("cppapidoc.enum_info_section.title") %></h3>
    </div>
    <% for (let i in tobeRendered) {
        let item = tobeRendered[i];
    %>
    <div class="section-item uk-margin-medium-bottom">
        <a id="<%- item.id %>"></a>
        <div class="uk-flex uk-flex-wrap section-item-name-wrapper uk-margin-small-top">
            <div class="uk-width-1-1 uk-width-1-2@s section-item-name uk-text-break">
                <a href="<%- "#"+item.id %>"><img src="/statics/images/apidocs/cpp/link.svg"/></a>
                <span><%- item.name %></span>
            </div>
            <% if (item.tags && item.tags.length > 0) { %>
            <div class="uk-width-1-1 uk-width-1-2@s tags uk-flex uk-flex-right uk-text-middle">
                <% for (let tagIndex in item.tags) {
                    let tag = item.tags[tagIndex];
                %>
                <span class="uk-label uk-label-success"><%- tag %></span>
                <% } %>
            </div>
            <% } %>
        </div>
        <div class="uk-background-muted uk-text-break uk-margin-small-top enum-definition definition uk-flex uk-flex-left uk-flex-wrap">
            enum&nbsp;<%- item.isStrong && "class" %>&nbsp;<%- item.name %>&nbsp;<%- item.underType && " : "+item.underType %>
        </div>
        <div class="uk-text-break uk-margin-small-top">
            #include &lt;<a href="<%- item.containerRef.url %>"><%- item.location.file %></a>&gt;
        </div>
        <% if (item.briefDescription.length > 0) { %>
        <div class="uk-margin-small-top uk-text-break"><%- item.briefDescription %></div>
        <% } %>
        <% if (item.detailDescription.length > 0) { %>
        <div class="uk-margin-small-top uk-text-break"><%- item.detailDescription %></div>
        <% } %>
        <table class="uk-table uk-table-responsive uk-table-small uk-table-divider">
            <thead>
            <tr>
                <th><%= __("cppapidoc.enum_info_section.field_name") %></th>
                <th><%= __("cppapidoc.enum_info_section.field_desc") %></th>
            </tr>
            </thead>
            <tbody>
            <% for (let valueIndex in item.enumValues) {
                let enumItem = item.enumValues[valueIndex];
            %>
            <tr>
                <td class="uk-width-1-3 uk-text-break"><a id="<%- item.id %>"></a><%- enumItem.name %></td>
                <td class="uk-width-2-3"><%- enumItem.briefDescription %></td>
            </tr>
            <% } %>
            </tbody>
        </table>
        <div class="uk-margin-small-top uk-text-break">
            <%- __("cppapidoc.common.define_location",  item.location.line, item.location.file.substring(8))%>
        </div>
    </div>
    <% } %>
</div>