<%
let cls = "";
if (classes.length != 0 ) {
    cls = "section-item-container class-section-container";
} else {
    cls = "uk-hidden";
}
showSimpleName = !!showSimpleName;
%>
<div class="<%- cls %>">
    <h3 class="uk-margin-small-bottom"><%= __("cppapidoc.partial_class_section.classes") %></h3>
    <% for (let i in classes) {
        let item = classes[i];
    %>
    <div class="uk-grid-small list-item" data-uk-grid>
        <% if (item.tags && item.tags.length > 0) { %>
        <div class="uk-width-1-1 uk-flex uk-flex-left">
            <% for (let tagIndex in item.tags) {
                let tag = item.tags[tagIndex];
            %>
            <span class="uk-label uk-label-success"><%- tag %></span>
            <% } %>
        </div>
        <% } %>
        <% if (item.isTemplate) { %>
        <div className="uk-width-1-1 tpl-params desc"><%- "template &lt;" +item.tplParamsString  + "&gt;"%></div>
        <% } %>
        <div class="uk-width-1-1">
            <span class="entity-type uk-text-right"><%- item.isStruct?"struct":"class" %></span>
            <a class="uk-text-break" href = "<%- item.url %>"><%- showSimpleName ? item.simpleName : item.name %></a></div>
        <div class="uk-width-1-1">
            <span><%- item.briefDescription %></span>
        </div>
    </div>
    <% } %>
</div>