<%
let cls = "";
if (namespaces.length != 0 ) {
    cls = "section-item-container namespace-section-container";
} else {
    cls = "uk-hidden";
}
showSimpleName = !!showSimpleName;
%>

<div class="<%- cls %>">
<h3 class="uk-margin-small-bottom"><%= __("cppapidoc.namespace_section.namespace") %></h3>
    <% for (let i in namespaces) {
        let item = namespaces[i];
    %>
<div class="uk-grid-small list-item" uk-grid>
    <div class="uk-width-1-1 uk-width-1-4@s">
        <a class="uk-text-break" href = "<%- item.url %>"><%- showSimpleName ? item.simpleName : item.name %></a>
    </div>
    <div class="uk-width-1-1 uk-width-3-4@s">
        <span>
            <%- item.briefDescription %>
        </span>
    </div>
</div>
<% } %>
</div>