<%
let logsItems = get_site_data("changelog");
function get_label_class_name(type)
{
    let cls = "uk-label uk-text-center ";
    switch (type) {
        case "added":
            cls += "uk-label-success";
            break;
        case "updated":
            break;
        case "removed":
            cls += "uk-label-warning";
            break;
        case "fixed":
            cls += "uk-label-danger";
            break;
    }
    return cls;
}
%>
<div id="container" style="width: 100%;">
    <div class="uk-container uk-margin-small-top uk-margin-small-bottom about-page-container">
        <%- partial("_partial/sitepath", { pathList:[
           get_site_menu_by_key("home"), 
            get_site_menu_by_key("about"),
            {
                name:  __("about.menu_changelog"),
                url: '/about/changelog.html'
            }
        ]}) %>
        <div class="about-container">
            <div class="uk-visible@s">
                <ul class="uk-flex-left about-nav" data-uk-tab>
                    <li><a href="/about"><%= __("about.menu_aboutus") %></a></li>
                    <li class="uk-active"><a href="/about/changelog.html"><%= __("about.menu_changelog") %></a></li>
<!--                    <li><a href="/about/becomesponsor.html"><%= __("about.menu_become_sponsor") %></a></li>-->
                    <li><a href="/about/becomedeveloper.html"><%= __("about.menu_become_developer") %></a></li>
<!--                    <li><a href="/about/becomepartner.html"><%= __("about.menu_become_partner") %></a></li>-->
                </ul>
            </div>
            <div class="changelog-container">
                <h1 class="uk-text-center changelog-title">Changelog</h1>
                <% for (let i in logsItems) {
                    let item = logsItems[i];
                    let logs = item.logs;
                %>
                <div key={index} class="changelog-item">
                    <div class="title uk-width-1-1"><%- item.title %></div>
                    <div>
                        <% for (let j in logs) {
                            let logItem = logs[j];
                        %>
                        <div class="uk-flex uk-flex-left uk-width-1-1 loginfo-item">
                            <span class="<%- get_label_class_name(logItem.type) %>"><%- logItem.type %></span>
                            <span class="text"><%- logItem.text %></span>
                        </div>
                        <% } %>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<script>
   $(".about-container .about-nav a").click(function(){
      window.location.assign($(this).attr("href"));
   });
</script>