<%
let cls = "";
if (friends.length != 0) {
    cls = "uk-margin-medium-top class-info-section-item-container friend-section-info-item-container";
} else {
    cls = "uk-hidden";
}
%>
<div class="<%- cls %>">
    <div class="section-title uk-margin-medium-bottom">
        <h3><%= __("cppapidoc.class.friend_info_section.title") %></h3>
    </div>
    <% for (let i in friends) {
        let item = friends[i];
    %>
    <div class="section-item uk-margin-medium-bottom">
        <a id="<%- item.id %>"></a>
        <div class="uk-flex uk-flex-wrap uk-flex-wrap-around uk-margin-small-top section-item-name-wrapper">
            <div class="uk-width-1-1 uk-width-1-2@s section-item-name">
                <a href="<%- "#"+item.id %>"><img src="/statics/images/apidocs/cpp/link.svg"/></a>
                <span><%- item.simpleName || item.name %><%- item.friendType == "function" ? "()": "" %></span></div>
            <div class="uk-width-1-1 uk-width-1-2@s tags uk-flex uk-flex-left uk-flex-right@s uk-text-middle uk-flex-wrap-around">
                <span class="uk-label uk-label-success">friend</span>
            </div>
        </div>
        <div class="uk-background-muted uk-text-break uk-margin-small-top friend-definition definition">
            <% if (item.isTemplate) { %>
            <div class="uk-width-1-1 tpl-params">template &lt;<%- item.tplParamsString %>&gt;</div>
            <% } %>
            <div class="<%- item.isTemplate ? "define uk-text-break" : "define uk-text-break" %>">
                <%- item.infoDefineStr %>
            </div>
        </div>
        <% if (item.briefDescription.length > 0) { %>
        <div class="uk-margin-small-top uk-text-break">
            <%- item.briefDescription %>
        </div>
        <% } %>
        <% if (item.detailDescription.length > 0) { %>
        <div class="uk-margin-small-top uk-text-break">
            <%- item.detailDescription %>
        </div>
        <% } %>
        <div class="uk-margin-small-top uk-text-break">
            <%- __("cppapidoc.common.define_location",  item.location.line, item.location.file.substring(8))%>
        </div>
    </div>
    <% } %>
</div>